{% extends 'base.html' %}
{% load static %}

{% block body %}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url({% static 'web/images/background/pattern-16.png' %})">
	</div>
	<div class="auto-container">
		<h2>Latest News</h2>
		<ul class="page-breadcrumb">
			<li><a href="{% url 'home-page' %}">home</a></li>
			<li>News Update</li>
		</ul>
	</div>
</section>
<!--End Page Title-->

<!-- Blog Page Section -->
<section class="blog-page-section">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- News Block -->
			<div class="news-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="{% url 'blog-detail-page' %}"><img src="images/resource/news-1.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">22 <span>DEC</span></div>
						<ul class="post-meta">
							<li><span class="icon flaticon-comment"></span>3 comments</li>
							<li><span class="icon flaticon-user"></span>Admin</li>
						</ul>
						<h4><a href="{% url 'blog-detail-page' %}">Define World Best IT Solution Technology</a></h4>
						<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has ...</div>
						<a class="read-more" href="{% url 'blog-detail-page' %}">Read More<span
								class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="news-detail.html"><img src="images/resource/news-2.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">15 <span>DEC</span></div>
						<ul class="post-meta">
							<li><span class="icon flaticon-comment"></span>3 comments</li>
							<li><span class="icon flaticon-user"></span>Admin</li>
						</ul>
						<h4><a href="news-detail.html">You Must Try 20 Secret Of Digital Transform</a></h4>
						<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has ...</div>
						<a class="read-more" href="news-detail.html">Read More<span
								class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="news-detail.html"><img src="images/resource/news-3.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">10 <span>oct</span></div>
						<ul class="post-meta">
							<li><span class="icon flaticon-comment"></span>3 comments</li>
							<li><span class="icon flaticon-user"></span>Admin</li>
						</ul>
						<h4><a href="news-detail.html">Digital Conference Of IT Tech Events in 2020</a></h4>
						<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has ...</div>
						<a class="read-more" href="news-detail.html">Read More<span
								class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="news-detail.html"><img src="images/resource/news-14.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">22 <span>DEC</span></div>
						<ul class="post-meta">
							<li><span class="icon flaticon-comment"></span>3 comments</li>
							<li><span class="icon flaticon-user"></span>Admin</li>
						</ul>
						<h4><a href="news-detail.html">Plan Your Project with Your Software</a></h4>
						<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has ...</div>
						<a class="read-more" href="news-detail.html">Read More<span
								class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="news-detail.html"><img src="images/resource/news-15.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">15 <span>DEC</span></div>
						<ul class="post-meta">
							<li><span class="icon flaticon-comment"></span>3 comments</li>
							<li><span class="icon flaticon-user"></span>Admin</li>
						</ul>
						<h4><a href="news-detail.html">You have a Great Business Idea?</a></h4>
						<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has ...</div>
						<a class="read-more" href="news-detail.html">Read More<span
								class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="news-detail.html"><img src="images/resource/news-16.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">10 <span>oct</span></div>
						<ul class="post-meta">
							<li><span class="icon flaticon-comment"></span>3 comments</li>
							<li><span class="icon flaticon-user"></span>Admin</li>
						</ul>
						<h4><a href="news-detail.html">How to Make Website WCAG Compliant?</a></h4>
						<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has ...</div>
						<a class="read-more" href="news-detail.html">Read More<span
								class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
					</div>
				</div>
			</div>

		</div>

		<!-- Post Share Options -->
		<div class="styled-pagination text-center">
			<ul class="clearfix">
				<li class="prev"><a href="#"><span class="fa fa-angle-left"></span> </a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li class="active"><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li class="next"><a href="#"><span class="fa fa-angle-right"></span> </a></li>
			</ul>
		</div>

	</div>
</section>
<!-- End Blog Page Section -->

{% endblock %}