{% extends 'web/base.html' %}
{% load static %}

{% block body %}
<section class="section-md bg-default">
	<div class="container">
		<h3 class="section-title">contact<span> form</span></h3>
		<form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post"
			action="bat/rd-mailform.php">
			<div class="row row-30">
				<div class="col-sm-6 col-lg-4">
					<div class="form-wrap">
						<input class="form-input" id="contact-name" type="text" name="name"
							data-constraints="@Required">
						<label class="form-label" for="contact-name">Your Name</label>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="form-wrap">
						<input class="form-input" id="contact-email" type="email" name="email"
							data-constraints="@Email @Required">
						<label class="form-label" for="contact-email">E-mail</label>
					</div>
				</div>
				<div class="col-md-12 col-lg-4">
					<div class="form-wrap">
						<input class="form-input" id="contact-phone" type="text" name="phone"
							data-constraints="@Numeric">
						<label class="form-label" for="contact-phone">Phone</label>
					</div>
				</div>
				<div class="col-12">
					<div class="form-wrap">
						<label class="form-label" for="contact-message">Your Message</label>
						<textarea class="form-input" id="contact-message" name="message"
							data-constraints="@Required"></textarea>
					</div>
				</div>
				<div class="col-12">
					<button class="btn" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
</section>

{% endblock %}