{% extends 'web/base.html' %}
{% load static %}

{% block body %}

<!-- Content -->
<div class="page-content bg-white">
	<!-- inner page banner -->
	<div class="dlab-bnr-inr overlay-black-middle bg-pt"
		style="background-image:url({% static 'bmf/images/banner/bnr1.jpg' %});">
		<div class="container">
			<div class="dlab-bnr-inr-entry">
				<h1 class="text-white">Contact Us</h1>
				<!-- Breadcrumb row -->
				<div class="breadcrumb-row">
					<ul class="list-inline">
						<li><a href="/">Home</a></li>
						<li>Contact Us</li>
					</ul>
				</div>
				<!-- Breadcrumb row END -->
			</div>
		</div>
	</div>
	<!-- inner page banner END -->
	<!-- contact area -->
	<div class="section-full content-inner bg-white contact-style-1">
		<div class="container">
			<div class="row">
				<!-- right part start -->
				<div class="col-lg-4 col-md-6 d-flex m-b30">
					<div class="p-a30 border contact-area border-1 align-self-stretch radius-sm">
						<h3 class="m-b5">Quick Contact</h3>
						<p>If you have any questions simply use the following contact details.</p>
						<ul class="no-margin">
							<li class="icon-bx-wraper left m-b30">
								<div class="icon-bx-xs border-1"> <a href="javascript:void(0);" class="icon-cell"><i
											class="ti-location-pin"></i></a> </div>
								<div class="icon-content">
									<h6 class="text-uppercase m-tb0 dlab-tilte">Address:</h6>
									<p>Office no. 111 Sheikh Hamdan Building, AI Khubaisi Area Near Abu Bakar Metro
										Station, DUBAI-U.A.E.</p>
								</div>
							</li>
							<li class="icon-bx-wraper left  m-b30">
								<div class="icon-bx-xs border-1"> <a href="javascript:void(0);" class="icon-cell"><i
											class="ti-email"></i></a> </div>
								<div class="icon-content">
									<h6 class="text-uppercase m-tb0 dlab-tilte">Email:</h6>
									<p>info@example.com</p>
								</div>
							</li>
							<li class="icon-bx-wraper left">
								<div class="icon-bx-xs border-1"> <a href="javascript:void(0);" class="icon-cell"><i
											class="ti-mobile"></i></a> </div>
								<div class="icon-content">
									<h6 class="text-uppercase m-tb0 dlab-tilte">PHONE</h6>
									<p>+97 04 5463344</p>
								</div>
							</li>
						</ul>
						<div class="m-t20">
							<ul class="dlab-social-icon border dlab-social-icon-lg">
								<li><a href="javascript:void(0);" class="fa fa-facebook bg-primary"></a></li>
								<li><a href="javascript:void(0);" class="fa fa-twitter bg-primary"></a></li>
								<li><a href="javascript:void(0);" class="fa fa-linkedin bg-primary"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- right part END -->
				<!-- Left part start -->
				<div class="col-lg-4 col-md-6  mb-4 m-b30 mb-md-0">
					<div class="p-a30 bg-gray clearfix radius-sm">
						<h3 class="m-b10">Send Message Us</h3>
						<div class="dzFormMsg"></div>
						<form method="POST" class="dzForm" action=".">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<div class="input-group">
											<input type="text" name="name" maxlength="50" required id="id_name"
												class="form-control" placeholder="Your Name">
										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<div class="input-group">
											<input name="phone" id="id_phone" type="text" class="form-control" required
												placeholder="Your Phone">
										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<div class="input-group">
											<input name="email" id="id_email" type="email" class="form-control" required
												placeholder="Your Email">
										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<div class="input-group">
											<input name="find_us" id="id_find_us" type="text" class="form-control"
												required placeholder="Where did you find us?">
										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<div class="input-group">
											<textarea name="message" id="id_message" rows="4" class="form-control"
												required placeholder="Your Message..."></textarea>
										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<button type="submit" class="site-button">
										<span>Submit</span> </button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- Left part END -->
				<div class="col-lg-4 d-flex m-b30">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1561.4203537892479!2d55.33204700025788!3d25.271178037285292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5cc10fe29ccd%3A0x15938713a478b03c!2sAbu%20Baker%20Al%20Siddique!5e0!3m2!1sen!2s!4v1616249520388!5m2!1sen!2s"
						class="align-self-stretch radius-sm" style="border:0; width:100%; min-height:100%;"
						allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
	<!-- contact area  END -->
</div>
<!-- Content END-->

{% endblock %}