{% extends 'web/base.html' %}
{% load static %}

{% block body %}

<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dlab-bnr-inr overlay-black-middle bg-pt"
        style="background-image:url({% static 'bmf/images/banner/bnr1.jpg' %});">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">Our Mission</h1>
                <!-- Breadcrumb row -->
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a href="/">Home</a></li>
                        <li>Our Mission</li>
                    </ul>
                </div>
                <!-- Breadcrumb row END -->
            </div>
        </div>
    </div>
    <!-- container -->
    <div class="container mt-4">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-md-12 col-sm-12">
                <h2 class="margin-one"><strong style="color: #BF2201;">Keys to Success</strong></h2>
                <p class="text-med no-margin">Work hard, guarantee all work and promote 100% customer satisfaction, if
                    this is done profitability will fall into
                    place.
                </p><br>
                <h2 class="margin-top-three margin-one"><strong style="color: #BF2201;">OUR MISSION</strong></h2>
                <p class="text-med">mission is to provide knowledgeable, convenient, and reasonably-priced service to
                    the domestic & Corporate Sector. Treat
                    every customer as if they were the most important customer the business has. We bring the same
                    passion & expertise to
                    company as Facility Management as one window operation for our clients. We are obliged to
                    serve government, semi
                    government & private project.</p>
                <p>We finished all projects successfully with client satisfaction in time. We have sufficient Team &
                    Experience to handle
                    the major projects.</p>

                <h4 class="margin-one"><strong style="color: #BF2201;">Excellence</strong></h4>
                <p class="text-med">No matter how big or small your project maybe, we have the experience,
                    knowledge, and resources to
                    complete it in a prompt, professional and efficient manner.
                </p>

                <h4 class="margin-one"><strong style="color: #BF2201;">Teamwork</strong></h4>
                <p class="text-med">We have a team of dedicated and dynamic
                    in-house.</p>

                <h4 class="margin-one"><strong style="color: #BF2201;">Integrity</strong></h4>
                <p class="text-med">Buraq Al Madeena Facility Management will provide every customer with an honest
                    day's work and
                    will fix anything that is not done
                    right.</p>

                <h4 class="margin-one"><strong style="color: #BF2201;">Commitment</strong></h4>
                <p class="text-med">We are fully dedicated to delivering our objectives through the most
                    efficient use of resources.</p>

                <h4 class="margin-one"><strong style="color: #BF2201;">Sustainability</strong></h4>
                <p class="text-med no-margin">We attribute our success to developing sustainable partnerships and
                    treating our clients with utmost respect and
                    courtesy.</p>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="wide-separator-line no-margin-lr"></div>

    </div>
    <!-- end container -->
    <!-- contact area  END -->
</div>
{% endblock %}