{% extends 'web/base.html' %}
{% load static %}

{% block body %}

<!-- head section -->
<section class="page-title parallax3 parallax-fix page-title-large">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="/static/web/images/vision-page1.png" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="separator-line no-margin-top margin-four" style="background-color: #BF2201;"></div>
                <!-- page title -->
                <h1 class=" white-text" style="font-size: 40px !important;">OUR VISION</h1>
                <!-- end page title -->
                <!-- page title tagline -->
                <span class="white-text">To improve security and safety levels for all our clients and also offer the
                    best security solutions in the country.</span>
                <!-- end title tagline -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->
<!-- content section -->
<section class="wow fadeIn">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-md-12 col-sm-12">
                <h2 class="margin-one"><strong style="color: #BF2201;">OUR VISION</strong></h2>
                <p class="text-med no-margin">Buraq Al Madeena Security Services LLC being in the forefront of security
                    industry
                    capitalized in providing property
                    guards and surveillance services. We offer our services to banks, malls, business offices, SMES, and
                    large enterprises
                    in any part of Dubai, UAE. Our security guards are fully prepared, well-equipped with essential
                    trainings, passed the
                    qualifying examinations and accredited licenses of Dubai Police. This, with the aim of enabling them
                    to resolve security
                    and safety related challenges of any establishment they serve.

                    <br>
                    <br>• Highly skilled and enthusiastic manpower and guard force.
                    <br>• Accredited Programmed across the scale of competence.
                </p>
                <h2 class="margin-top-three margin-one"><strong style="color: #BF2201;">OUR MISSION</strong></h2>
                <p class="text-med">We aim to provide outstanding security solutions through implementing the
                    best practices, mobilizing
                    the latest technologies, and providing continuous training to our staff.</p>

                <h4 class="margin-one"><strong style="color: #BF2201;">Excellence</strong></h4>
                <p class="text-med">We strive for excellence in quality and we continuously innovate,
                    utilizing advanced technologies.
                </p>

                <h4 class="margin-one"><strong style="color: #BF2201;">Teamwork</strong></h4>
                <p class="text-med">We insist on mutual respect, cooperation and mutual encouragement to
                    achieve each individual's
                    potential.</p>

                <h4 class="margin-one"><strong style="color: #BF2201;">Integrity</strong></h4>
                <p class="text-med">We act with reliability, honesty and fairness.</p>

                <h4 class="margin-one"><strong style="color: #BF2201;">Commitment</strong></h4>
                <p class="text-med">We are fully dedicated to delivering our objectives through the most
                    efficient use of resources.</p>

                <h4 class="margin-one"><strong style="color: #BF2201;">Sustainability</strong></h4>
                <p class="text-med no-margin">We are committed to safeguarding all stakeholders, including the health
                    and safety of our employees,
                    society as a whole
                    and the environment.</p>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="wide-separator-line no-margin-lr"></div>

    </div>
    <!-- end container -->
</section>
{% endblock %}