{% extends 'web/base.html' %}
{% load static %}

{% block body %}
<!--swiper-->
<section class="section swiper-container swiper-slider swiper-slider-1"
    data-swiper='{"autoplay":{"delay":4567},"effect":"fade"}'>
    <div class="swiper-wrapper text-center">
        <div class="swiper-slide context-dark" data-slide-bg="{% static 'bmf/images/slide1.jpg">
            <div class="swiper-slide-caption section-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="swiper_caption" data-caption-animate="fadeIn" data-caption-delay="100">
                                <h2>A complete line of</h2><span>products is available</span>
                                <p>Welcome to the number 1 company in the industry! Looking for some helpful
                                    advice? Go no further; you&apos;ve come to the right place. We are
                                    professional, experienced and dedicated to your satisfaction.</p><a
                                    class="fa fa-angle-right" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide context-dark" data-slide-bg="{% static 'bmf/images/slide2.jpg' %}">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="swiper_caption caption-bg-2" data-caption-animate="fadeIn"
                                data-caption-delay="100">
                                <h2>Providing premium</h2><span>products of exceptional value</span>
                                <p>We are committed to the highest quality, reliability, responsibility,
                                    continuous improvement.</p><a class="fa fa-angle-right" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide context-dark" data-slide-bg="{% static 'bmf/images/slide3.jpg' %}">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="swiper_caption caption-bg-3" data-caption-animate="fadeIn"
                                data-caption-delay="100">
                                <h2>A wide range of</h2><span>high quality structural steel projects</span>
                                <p>Our company can boast the reputation of the trusted partner known worldwide.
                                </p><a class="fa fa-angle-right" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Swiper Pagination-->
    <div class="swiper-pagination"></div>
</section>
<!--Services-->
<section class="section section-md bg-default">
    <div class="container">
        <div class="row row-30">
            <div class="col-lg-6 wow fadeInLeft">
                <div class="img-box"><span></span><img src="{% static 'bmf/images/page-1_img01.jpg' %}" alt="">
                    <div class="caption context-dark">
                        <h2>DUCTING</h2>
                        <p>Our custom fabricated stainless steel ducting products are highly reliable and
                            distributed across the world.</p>
                    </div><a class="fa fa-angle-right" href="#"></a>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight">
                <div class="img-box"><span></span><img src="{% static 'bmf/images/page-1_img02.jpg' %}" alt="">
                    <div class="caption context-dark">
                        <h2>STACKS</h2>
                        <p>Our stacks are designed to maintain air quality emissions in compliance with modern
                            requirements for your facility.</p>
                    </div><a class="fa fa-angle-right" href="#"></a>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInLeft">
                <div class="img-box"><span></span><img src="{% static 'bmf/images/page-1_img03.jpg' %}" alt="">
                    <div class="caption context-dark">
                        <h2>tanks</h2>
                        <p>We specialize in the fabrication of custom industrial tanks of all kinds, including
                            stainless steel tanks.</p>
                    </div><a class="fa fa-angle-right" href="#"></a>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight">
                <div class="img-box"><span></span><img src="{% static 'bmf/images/page-1_img04.jpg' %}" alt="">
                    <div class="caption context-dark">
                        <h2>STRUCTURAL</h2>
                        <p>Our primary business is providing design, fabrication, and erection of structural
                            steel for commercial or industrial buildings, and bridges.</p>
                    </div><a class="fa fa-angle-right" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--We'll handle any-->
<section class="section section-md bg-default">
    <div class="container wow fadeInRight">
        <h2 class="text-color1"> We'll handle any<br><span class="font-weight-light">intricate custom
                design</span></h2>
        <div class="row">
            <div class="col-lg-6">
                <p>Steel and Fabrication Industry takes great pride in our industry-leading custom metal
                    fabrication services. This is the core of our business and it’s a process we take seriously.
                    We work on small, large, and heavy components. Our team of experts provides over a dozen
                    metal fabrication services. We work with a large variety of metals and raw material forms.
                    Our loyal customers come to us from a diverse array of industries. Their applications and
                    products are numerous, which include sheet metal, complex assemblies, music equipment, fuel
                    tanks, fixtures, and much more.</p>
            </div>
            <div class="col-lg-6">
                <p>Steel and Fabrication Industry offers the most cost-effective, high-quality engineering and
                    design services around. With our consulting, designing, prototyping, and other expert
                    services, we consistently save customers time and money. We also offer a host of additional
                    services, all under the initiative of environmentally-friendly, superior-quality work.</p><a
                    class="btn" href="#">read more</a>
            </div>
        </div>
    </div>
</section>
<!--Bg Vide-->
<section class="section bg-vide" data-vide-bg="mp4: video/video, poster: images/parallax1"
    data-vide-options="posterType: jpg, loop: false, muted: false">
    <div class="container section-sm">
        <div class="row">
            <div class="col-lg-6">
                <div class="caption1">
                    <h2>We serve<br>to meet</h2><span>your fabrication needs</span>
                    <p>Our team is committed to providing service suited to each customer's ideal turnaround
                        time. Our rush services can be performed in a matter of hours.</p><a class="fa fa-angle-right"
                        href="#"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OUR PRODUCTS-->
<section class="section-md bg-default wow fadeInLeft">
    <div class="container">
        <h2 class="title1">Our<span class="font-weight-light"> products</span></h2>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <ul class="marked-list">
                    <li><a href="#">Structural Steel Buildings</a></li>
                    <li><a href="#">Platforms, Stairways</a></li>
                    <li><a href="#">Motor & Fan Bases</a></li>
                    <li><a href="#">Tanks</a></li>
                    <li><a href="#">Pressure Vessels</a></li>
                    <li><a href="#">Cyclones</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4">
                <ul class="marked-list">
                    <li><a href="#">Scrubbers</a></li>
                    <li><a href="#">Fan Housings</a></li>
                    <li><a href="#">Industrial Ductwork & Piping</a></li>
                    <li><a href="#">Hoppers</a></li>
                    <li><a href="#">Stacks</a></li>
                    <li><a href="#">Dampers</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4">
                <ul class="marked-list">
                    <li><a href="#">Slide Gates</a></li>
                    <li><a href="#">Filter Housings</a></li>
                    <li><a href="#">Conveyors</a></li>
                    <li><a href="#">Guards</a></li>
                    <li><a href="#">Dewatering Screen Cabinets</a></li>
                    <li><a href="#">Sump Tanks</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Parallax-->
<section class="section parallax-container" data-parallax-img="{% static 'bmf/images/parallax2.jpg' %}">
    <div class="parallax-content section-sm context-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="caption1 caption2">
                        <h2>We meet<br>a wide<span>range of fabrication requirements</span></h2>
                        <p>Our industrial coating services, suited to meet the needs of numerous industries.</p>
                        <a class="fa fa-angle-right" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OFFERING-->
<section class="section-md bg-default wow fadeInRight">
    <div class="container">
        <h2 class="text-color1">Offering the best level<br><span class="font-weight-light">of excellence in
                steel fabrication</span></h2>
        <div class="row row-30">
            <div class="col-md-6"><img class="offs" src="{% static 'bmf/images/page-1_img05.jpg' %}" alt=""></div>
            <div class="col-md-6">
                <p>Steel and Fabrication Industry was incorporated in April of 1989 with the objective of
                    offering the market a higher level of excellence in steel fabrication. Its organizers, with
                    a combined sixty years of experience in steel fabrication, machining, manufacturing, and
                    design could see that many large manufacturers were scaling back their own company’s to
                    reduce costs. To achieve their objectives Steel and Fabrication Industry assembled a team of
                    experienced and certified craftsmen, engineers, and designers with a commitment to quality
                    and efficiency.</p><a class="btn offs1" href="#">read more</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}