{% extends 'web/base.html' %}
{% load static %}
{% block body %}

<!-- Content -->
<div class="page-content bg-white">
    <!-- Slider -->
    <div class="main-slider style-two default-banner" id="home">
        <div id="rev_slider_1061_1_wrapper" class="rev_slider_wrapper fullscreen-container"
            data-alias="creative-freedom" data-source="gallery" style="background-color:#1f1d24;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
            <div id="rev_slider_1061_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                <ul>
                    <!-- SLIDE  -->

                    <!-- MAIN IMAGE -->
                    <li data-index="rs-3240" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                        data-masterspeed="default" data-thumb="{% static 'bmf/images/main-slider/slide18.jpg' %}"
                        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="">

                        <img src="{% static 'bmf/images/main-slider/slide18.jpg' %}" alt=""
                            data-lazyload="{% static 'bmf/images/main-slider/slide18.jpg' %}"
                            data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="3" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-tobggroup"
                            id="slide-100-layer-1" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['0','0','0','0']" data-fontweight="['100','100','400','400']"
                            data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                            data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                            data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5; background-color:rgba(18, 12, 20, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-shape tp-shapewrapper bg-primary rs-parallaxlevel-3"
                            id="slide-100-layer-2" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['-150','-178','-120','-141']" data-width="5" data-height="100"
                            data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 6;border-color:rgba(0, 0, 0, 0);border-width:0px;">
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Creative-Title tp-resizeme rs-parallaxlevel-1" id="slide-100-layer-4"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['40','-10','60','40']"
                            data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']"
                            data-width="['none','none','none','320']" data-height="none" data-whitespace="nowrap"
                            data-type="text" data-responsive_offset="on"
                            data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 8; white-space: nowrap; font-family: 'Roboto Condensed', sans-serif;">
                            Welcome<br />Leather Industry
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper bg-primary rs-parallaxlevel-3"
                            id="slide-100-layer-5" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['200','137','210','180']" data-width="5" data-height="100"
                            data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 9; border-color:rgba(0, 0, 0, 0);border-width:0px;">
                        </div>

                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-200" data-transition="fadethroughdark" data-slotamount="default"
                        data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                        data-masterspeed="2000" data-thumb="{% static 'bmf/images/main-slider/slide19.jpg' %}"
                        data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'bmf/images/main-slider/slide19.jpg' %}" alt=""
                            data-bgposition="center center" data-bgfit="cover" data-bgparallax="3" class="rev-slidebg"
                            data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-tobggroup"
                            id="slide-200-layer-1" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['0','0','0','0']" data-fontweight="['100','100','400','400']"
                            data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                            data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                            data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5; background-color:rgba(18, 12, 20, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-shape tp-shapewrapper bg-primary rs-parallaxlevel-3"
                            id="slide-200-layer-2" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['-150','-178','-120','-141']" data-width="5" data-height="100"
                            data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 6;border-color:rgba(0, 0, 0, 0);border-width:0px;">
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Creative-Title tp-resizeme rs-parallaxlevel-1" id="slide-200-layer-4"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['40','-10','60','40']"
                            data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']"
                            data-width="['none','none','none','320']" data-height="none" data-whitespace="nowrap"
                            data-type="text" data-responsive_offset="on"
                            data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 8; white-space: nowrap; font-family: 'Roboto Condensed', sans-serif;">
                            Welcome<br />Leather Industry
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-3 bg-primary"
                            id="slide-200-layer-5" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['200','137','210','180']" data-width="5" data-height="100"
                            data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 9;border-color:rgba(0, 0, 0, 0);border-width:0px;">
                        </div>

                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-300" data-transition="fadethroughdark" data-slotamount="default"
                        data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                        data-masterspeed="2000" data-thumb="{% static 'bmf/images/main-slider/slide20.jpg' %}"
                        data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'bmf/images/main-slider/slide20.jpg' %}" alt=""
                            data-bgposition="center center" data-bgfit="cover" data-bgparallax="3" class="rev-slidebg"
                            data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-tobggroup"
                            id="slide-300-layer-1" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['0','0','0','0']" data-fontweight="['100','100','400','400']"
                            data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                            data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                            data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5; background-color:rgba(18, 12, 20, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-shape tp-shapewrapper bg-primary rs-parallaxlevel-3"
                            id="slide-300-layer-2" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['-150','-178','-120','-141']" data-width="5" data-height="100"
                            data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 6; border-color:rgba(0, 0, 0, 0);border-width:0px;">
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Creative-Title tp-resizeme rs-parallaxlevel-1" id="slide-300-layer-4"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['40','-10','60','40']"
                            data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']"
                            data-width="['none','none','none','320']" data-height="none" data-whitespace="nowrap"
                            data-type="text" data-responsive_offset="on"
                            data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 8; white-space: nowrap; font-family: 'Roboto Condensed', sans-serif;">
                            Welcome<br />Leather Industry
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper bg-primary rs-parallaxlevel-3"
                            id="slide-300-layer-5" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['200','137','210','180']" data-width="5" data-height="100"
                            data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 9; border-color:rgba(0, 0, 0, 0);border-width:0px;">
                        </div>

                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
    <!-- Slider END -->
    <!-- contact area -->
    <div class="content-block">
        <!-- Features -->
        <div class="section-full content-inner bg-gray">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h2 class="title">Facility Management Services</h2>
                    <p>BSM offers a full suite of facility management services to its corporate clients in UAE</p>
                </div>
                <div class="row">
                    {% for object in services %}
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s"
                        data-wow-delay="0.3s">

                        <div class="dlab-box service-box-2">
                            <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect rotate">
                                <a href="{% url 'service-detail-page' slug=object.slug %}">
                                    <img src="{{ object.image.url }}" alt=""></a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="title">
                                    <a href="{% url 'service-detail-page' slug=object.slug %}">
                                        {{ object.title }}</a>
                                </h4>
                                <p>{{ object.timeline|truncatechars:110 }}</p>
                                <a href="{% url 'service-detail-page' slug=object.slug %}"
                                    class="site-button btnhover14">Learn More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Features End -->
        <!-- Service Info Head -->
        <div class="section-full content-inner-2 bg-primary wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s"
            style="background-image:url(/static/bmf/images/background/map-bg.png);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center service-info">
                        <h2 class="title text-white">Amazing things happen to your business when we connect those dots
                            of utility and value.</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service Info Head End -->
        <!-- About Us -->
        <div class="section-full content-inner bg-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                        <div class="our-story">
                            <span>About our company</span>
                            <h2 class="title">Commited to High <br /> Quality <span class="text-primary"> Services
                                </span></h2>
                            <h4 class="title">We believe in making building better places to be for
                                those who work in and visit them.</h4>
                            <p>We can take care of all your maintenance needs of your facility to make sure that
                                everything
                                is in its best shape and operating at its fullest potential.
                                This is important because we make sure the places in which people work, play, learn and
                                live are safe, comfortable, productive and sustainable.</p>
                            <a href="{% url 'about-page' %}" class="site-button btnhover14">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                        <img src="{% static 'bmf/images/about/pic6.jpg' %}" class="radius-sm" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us End -->
        <!-- Call To Action -->
        <div class="section-full call-action style1 bg-primary wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-white">
                        <h2 class="title">Buraq Al Madeena Facility Management Services </h2>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <a href="{% url 'contact-page' %}"
                            class="site-button black align-self-center ml-auto btnhover14">Contact
                            Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call To Action End -->
        <div class="section-full content-inner-2 bg-gray wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h2 class="title">Our Project</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
                        standard dummy text ever since the been when an unknown printer.</p>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div
                            class="img-carousel-dots-nav owl-theme owl-dots-none owl-carousel owl-btn-center-lr owl-btn-3">
                            <div class="item">
                                <div class="dlab-box project-bx">
                                    <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect zoom">
                                        <a href="portfolio-details.html"><img
                                                src="{% static 'bmf/images/our-work/steelplant/pic10.jpg' %}"
                                                alt=""></a>
                                    </div>
                                    <div class="dlab-info">
                                        <h5 class="dlab-title"><a href="portfolio-details.html">Manufacturing</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dlab-box project-bx">
                                    <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect zoom">
                                        <a href="portfolio-details.html"><img
                                                src="{% static 'bmf/images/our-work/steelplant/pic9.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="dlab-info">
                                        <h5 class="dlab-title"><a href="portfolio-details.html">Iron Making</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dlab-box project-bx">
                                    <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect zoom">
                                        <a href="portfolio-details.html"><img
                                                src="{% static 'bmf/images/our-work/steelplant/pic8.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="dlab-info">
                                        <h5 class="dlab-title"><a href="portfolio-details.html">Steel Pipes</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dlab-box project-bx">
                                    <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect zoom">
                                        <a href="portfolio-details.html"><img
                                                src="{% static 'bmf/images/our-work/steelplant/pic7.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="dlab-info">
                                        <h5 class="dlab-title"><a href="portfolio-details.html">Structural Steel</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Project END -->

        <!-- Testimonials -->
        <div class="section-full content-inner-2 bg-gray wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h2 class="title">Happy Customers Said</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
                        standard dummy text ever since the been when an unknown printer.</p>
                </div>
                <div class="testimonial-six owl-loaded owl-theme owl-carousel owl-none dots-style-2">
                    <div class="item">
                        <div class="testimonial-8">
                            <div class="testimonial-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the when an printer
                                    took a galley of type and scrambled it to make.</p>
                            </div>
                            <div class="testimonial-detail clearfix">
                                <h5 class="testimonial-name m-t0 m-b5">David Matin</h5> <span
                                    class="testimonial-position">Student</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-8">
                            <div class="testimonial-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the when an printer
                                    took a galley of type and scrambled it to make.</p>
                            </div>
                            <div class="testimonial-detail clearfix">
                                <h5 class="testimonial-name m-t0 m-b5">David Matin</h5> <span
                                    class="testimonial-position">Student</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-8">
                            <div class="testimonial-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the when an printer
                                    took a galley of type and scrambled it to make.</p>
                            </div>
                            <div class="testimonial-detail clearfix">
                                <h5 class="testimonial-name m-t0 m-b5">David Matin</h5> <span
                                    class="testimonial-position">Student</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials END -->

        <!-- Call To Action -->
        <div class="section-full call-action bg-primary wow fadeIn" data-wow-duration="2s" data-wow-delay="0.9s">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-white">
                        <h2 class="title">We will get back to you ASAP</h2>
                        <p class="m-b0">Please feel free to get in touch for help with your property repair and
                            maintenance needs.</p>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <a href="{% url 'contact-page' %}"
                            class="site-button white align-self-center outline ml-auto outline-2 btnhover14">Get In
                            Touch</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call To Action End -->
    </div>
    <!-- contact area END -->
</div>
<!-- Content END -->

{% endblock %}