{% extends 'web/base.html' %}
{% load static %}
{% block body %}

<!-- Content -->
<div class="page-content bg-white">
    <!-- Slider -->

    {% include 'web/slider.html' %}
    {% include 'web/header.html' %}

    <!-- Slider END -->
    <div class="content-block">
        <div class="section-full content-inner bg-white">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h2 class="title">OUR SERVICES</h2>
                    <p>Badr-Al-Sabah offers a full suite of facility management services to its corporate clients in
                        UAE.</p>
                </div>
                <div class="row">
                    {% for object in services %}

                    <div class="col-lg-4 col-md-6 col-sm-12 m-b50 wow fadeInLeft" data-wow-duration="2s"
                        data-wow-delay="0.3s"
                        style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInLeft;">
                        <div class="dlab-box service-box-3">
                            <div class="dlab-media radius-sm dlab-img-overlay1 zoom dlab-img-effect">
                                <a href="{% url 'service-detail-page' slug=object.slug %}">
                                    <img src="{{ object.image.url }}" alt=""></a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="title">
                                    <a href="{% url 'service-detail-page' slug=object.slug %}">{{ object.title }}</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- contact area -->
        <div class="section-full call-action bg-primary wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeIn;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-white">
                        <h2 class="title">Badr-Al-Sabah Facility Management Services </h2>
                        <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <a href="{% url 'contact-page' %}"
                            class="site-button btnhover15 white align-self-center outline ml-auto radius-xl outline-2">Contact
                            Us </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services -->
        <div class="section-full content-inner-2 bg-gray wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s"
            style="background-image:url(/static/blf/images/overlay/brilliant.png);">
            <div class="container">
                <div class="section-head text-black text-center">
                    <h2 class="title">Badr-Al-Sabah</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
                        standard dummy text ever since the been when an unknown printer.</p>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="img-carousel-dots owl-theme owl-dots-none owl-carousel owl-btn-center-lr owl-btn-3">
                            <div class="item">
                                <div class="service-box style4">
                                    <div class="icon-lg m-b5 text-primary radius">
                                        <a href="javascript:void(0);" class="icon-cell"><i
                                                class="flaticon-worker"></i></a>
                                    </div>
                                    <h3 class="title">Solar Panels</h3>
                                    <div class="no">1</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="service-box style4">
                                    <div class="icon-lg m-b5 text-primary radius">
                                        <a href="javascript:void(0);" class="icon-cell"><i
                                                class="flaticon-factory"></i></a>
                                    </div>
                                    <h3 class="title">Wind Turbines</h3>
                                    <div class="no">2</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="service-box style4">
                                    <div class="icon-lg m-b5 text-primary radius">
                                        <a href="javascript:void(0);" class="icon-cell"><i
                                                class="flaticon-settings"></i></a>
                                    </div>
                                    <h3 class="title">Maintenance</h3>
                                    <div class="no">3</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="service-box style4">
                                    <div class="icon-lg m-b5 text-primary radius">
                                        <a href="javascript:void(0);" class="icon-cell"><i
                                                class="flaticon-engineer-1"></i></a>
                                    </div>
                                    <h3 class="title">Monitoring</h3>
                                    <div class="no">4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->
        <!-- Service Info Head End -->
        <!-- About Us -->
        <div class="section-full content-inner const-about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 wow bounceInLeft" data-wow-duration="2s"
                        data-wow-delay="0.3s"
                        style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: bounceInLeft;">
                        <div class="radius-sm m-b30">
                            <img src="{% static 'blf/images/about/pic12.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 m-b15 wow bounceInRight" data-wow-duration="2s"
                        data-wow-delay="0.3s"
                        style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: bounceInRight;">
                        <div class="content-bx1">
                            <div class="about-year">
                                <span>26</span>
                                <p>Years<br>Experience<br>Working</p>
                            </div>
                            <div class="section-head style2">
                                <h2 class="title">Great Lessons You Can Learn From Nuclear Plant</h2>
                                <p>Praesent pharetra orci odio, ut mattis tellus ullamcorper ornare. Suspendisse
                                    ullamcorper
                                    metus in erat viverra, vehicula pharetra dolor accumsan. In arcu ex, rutrum finibus
                                    malesuada vel. Praesent pharetra orci odio, ut mattis tellus</p>
                            </div>
                            <a href="{% url 'about-page' %}" class="site-button btnhover15 black m-b10">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us End -->
        <!-- call section-full -->
        <div class="section-full content-inner-2 bg-primary wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s"
            style="background-image: url(&quot;/static/blf/images/background/map-bg.png&quot;); visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeIn;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center call-action style2">
                        <i class="fa fa-comment call-icon"></i>
                        <h2 class="title text-white">1-800-505-5500</h2>
                        <h3 class="text-white font-weight-600">Important Facts That You Should Know About</h3>
                        <p class="m-b0">( All Call Are Toll Free )</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- call section-full end -->
        <!-- Testimonials -->
        <div class="section-full content-inner bg-gray">
            <div class="container">
                <div class="section-head text-center">
                    <h2 class="title">What peolpe are saying</h2>
                </div>
                <div
                    class="testimonial-six owl-carousel owl-btn-center-lr testimonial-13-area owl-btn-2 primary dots-style-3 owl-theme">
                    <div class="item wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                        <div class="testimonial-13">
                            <div class="testimonial-text">
                                <div class="quote-left"></div>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an
                                    printer took a
                                    galley.</p>
                            </div>
                            <div class="testimonial-detail clearfix">
                                <h5 class="testimonial-name m-t10 m-b5">David Matin</h5>
                                <span class="testimonial-position text-primary">Student</span>
                            </div>
                        </div>
                    </div>
                    <div class="item wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                        <div class="testimonial-13">
                            <div class="testimonial-text">
                                <div class="quote-left"></div>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an
                                    printer took a
                                    galley.</p>
                            </div>
                            <div class="testimonial-detail clearfix">
                                <h5 class="testimonial-name m-t10 m-b5">David Matin</h5>
                                <span class="testimonial-position text-primary">Student</span>
                            </div>
                        </div>
                    </div>
                    <div class="item wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.9s">
                        <div class="testimonial-13">
                            <div class="testimonial-text">
                                <div class="quote-left"></div>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an
                                    printer took a
                                    galley.</p>
                            </div>
                            <div class="testimonial-detail clearfix">
                                <h5 class="testimonial-name m-t10 m-b5">David Matin</h5>
                                <span class="testimonial-position text-primary">Student</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials END -->

    </div>
    <!-- contact area END -->
</div>
<!-- Content END -->

{% endblock %}