{% extends 'web/base.html' %}
{% load static %}

{% block body %}

<section class="section-md bg-default">
	<div class="container">
		<h2 class="section-title text-color1">Service<span> Categories</span></h2>
		<div class="row row-xl-40">
			<div class="col-lg-6 wow fadeInLeft">
				<h4>Design Engineering Services</h4>
				<p>Nulla mollis nibh ac lectus bibendum, in aliquet tortor luctus. Morbi ut libero eget sem
					gravida condimentum. Maecenas semper sagittis purus, in pharetra nibh aliquam eu.</p>
				<ul class="marked-list offset-top-10">
					<li><a href="#">Civil and Structural Engineering</a></li>
					<li><a href="#">Project Design Administration/Management</a></li>
				</ul>
			</div>
			<div class="col-lg-6 wow fadeInRight">
				<h4>Construction Management</h4>
				<p>Donec faucibus a felis ut porta. Nulla facilisi. Donec diam quam, aliquet in commodo a,
					aliquam non dolor. Donec et massa accumsan, egestas eros sit amet, massa. Mauris hendrerit
					ipsum.</p>
				<ul class="marked-list offset-top-10">
					<li><a href="#">Construction Management/Inspection</a></li>
					<li><a href="#">Project Administration/Management</a></li>
				</ul>
			</div>
			<div class="col-lg-6 wow fadeInLeft">
				<h4>Plan Check Services</h4>
				<p>Morbi posuere diam auctor tellus dictum interdum. Donec faucibus a felis ut porta. Nulla
					facilisi. Donecdiam quam, aliquet in commodo a, aliquam non dolor. Donec et massa accumsan,
					egestas eros sit amet.</p>
				<ul class="marked-list offset-top-10">
					<li><a href="#">CIP/Development Plan Check Services</a></li>
					<li><a href="#">Constructability/Peer Review Services</a></li>
				</ul>
			</div>
			<div class="col-lg-6 wow fadeInRight">
				<h4>Public Works Consulting Services</h4>
				<p>Maecenas semper sagittis purus, in pharetra nibh aliquam eu. Pellentesque habiMorbi posuere
					diam auctor tellus dictum interdum. Donec faucibus a felis ut porta. donec diam quam,
					aliquet.</p>
				<ul class="marked-list offset-top-10">
					<li><a href="#">Public Agency Management Consulting</a></li>
					<li><a href="#">Government Relations</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="section parallax-container" data-parallax-img="images/parallax4.jpg">
	<div class="parallax-content section-sm context-dark ">
		<div class="container bg2 context-dark">
			<h2 class="title2"><span class="font-weight-light">Our full suite of services<br>includes:</span>
			</h2>
			<div class="row">
				<div class="col-sm-6">
					<ul class="marked-list">
						<li><a href="#">Public Agency Management</a></li>
						<li><a href="#">Civil & Structural Engineering Design</a></li>
						<li><a href="#">Design Project Management</a></li>
						<li><a href="#">Construction Project Management</a></li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul class="marked-list">
						<li><a href="#">Construction Inspection Services</a></li>
						<li><a href="#">Government Relations/Public Assistance</a></li>
						<li><a href="#">Plan Checking Services</a></li>
						<li><a href="#">Constructability/Peer Review Services</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-md bg-default">
	<div class="container">
		<h2 class="section-title">Additional<span> services</span></h2>
		<div class="row">
			<div class="col-sm-6 col-lg-4 wow fadeInLeft">
				<ul class="marked-list offs_none">
					<li><a href="#">Feasibility studies</a></li>
					<li><a href="#">Conceptual Design</a></li>
					<li><a href="#">FEED</a></li>
					<li><a href="#">Basic Engineering</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-lg-4">
				<ul class="marked-list offs_none">
					<li><a href="#">Detailed Engineering</a></li>
					<li><a href="#">FPSO Topsides Design</a></li>
					<li><a href="#">FPSO Motion Analysis</a></li>
					<li><a href="#">Pre-commissioning</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-lg-4 wow fadeInRight">
				<ul class="marked-list offs_none">
					<li><a href="#">Operation Support</a></li>
					<li><a href="#">Operators training</a></li>
					<li><a href="#">Maintenance Manual</a></li>
					<li><a href="#">Process Optimization</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="section parallax-container" data-parallax-img="images/parallax4.jpg">
	<div class="parallax-content section-sm context-dark ">
		<div class="container bg2 bg3 context-dark">
			<h2 class="section-title"><span>Products overview</span></h2>
			<div class="row row-30">
				<div class="col-sm-6 col-lg-4">
					<div>
						<h4 class="title2">Products #1</h4>
						<p>Morbi posuere diam auctor tellus dictum int erdum. Donec faucibus a felis ut porta.
						</p>
						<ul class="marked-list offset-top-10">
							<li><a href="#">Forming System</a></li>
							<li><a href="#">Welding Gate</a></li>
							<li><a href="#">Tandem Welding</a></li>
							<li><a href="#">Single Wire Welding</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div>
						<h4 class="title2">Products #2</h4>
						<p>Maecenas semper sagittis purus, in pharetra nibh aliquam eu. Pellentesque habitant.
						</p>
						<ul class="marked-list offset-top-10">
							<li><a href="#">Cement Lining</a></li>
							<li><a href="#">End Forming Machine</a></li>
							<li><a href="#">Hydroster</a></li>
							<li><a href="#">Melter Wrapping Equipment</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div>
						<h4 class="title2">Products #3</h4>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.
						</p>
						<ul class="marked-list offset-top-10">
							<li><a href="#">SRU 1000</a></li>
							<li><a href="#">SRU 1200</a></li>
							<li><a href="#">SRU 1400</a></li>
							<li><a href="#">SRU 1600</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}