<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .bannercontainer {
            width: 100%;
            position: relative;
            padding: 0;
        }

        .banner {
            width: 100%;
            position: relative;
        }
    </style>

</head>

<body class="mt-5">

    <div class="bannercontainer">
        <div class="banner fullscreenbanner">


            <ul>
                <!-- THE BOXSLIDE EFFECT EXAMPLES  WITH LINK ON THE MAIN SLIDE EXAMPLE -->

                <li data-transition="boxslide" data-slotamount="7" data-link="http://www.google.de">
                    <img src="images/slides/image1.jpg">
                    <div class="caption sft big_white" data-x="400" data-y="100" data-speed="700" data-start="1700"
                        data-easing="easeOutBack">KICKSTART YOUR WEBSITE</div>
                    <div class="caption sfb big_orange" data-x="400" data-y="142" data-speed="500" data-start="1900"
                        data-easing="easeOutBack">WITH SLIDER REVOLUTION!</div>
                    <div class="caption lfr medium_grey" data-x="510" data-y="210" data-speed="300" data-start="2000">
                        UNLIMITED
                        TRANSITIONS</div>
                </li>
                ...
            </ul>

        </div>
    </div>



    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {
            jQuery('.fullscreenbanner').revolution({
                delay: 9000,
                startwidth: 960,
                startheight: 500,
                autoHeight: "off",
                fullScreenAlignForce: "off",

                onHoverStop: "on",

                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 3,

                hideThumbsOnMobile: "off",
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResoluition: 0,

                hideThumbs: 0,

                navigationType: "bullet",
                navigationArrows: "solo",
                navigationStyle: "round",

                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 30,
                navigationVOffset: 30,

                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,


                touchenabled: "on",

                stopAtSlide: -1,
                stopAfterLoops: -1,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                hideSliderAtLimit: 0,

                dottedOverlay: "none",

                fullWidth: "off",
                forceFullWidth: "off",
                fullScreen: "off",
                fullScreenOffsetContainer: "#topheader-to-offset",

                shadow: 0

            });

        });

    </script>

</body>

</html>