<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load metatags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- <meta name="google-site-verification" content="duExDPFOcK4oCyTsbXUzw2uAY2Iuf0xOCxJzbQok8b8" /> -->
    {% include_metatags object %}

    <meta name="theme-color" content="#317EFB" />
    <!-- Stylesheets -->
    {% block stylesheets %}
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/blf/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/blf/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/blf/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/blf/images/favicon/site.webmanifest">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blf/css/plugins.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blf/plugins/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blf/plugins/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blf/plugins/themify/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blf/css/style.min.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'blf/css/skin/skin-2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blf/css/templete.min.css' %}">
    <!-- Google Font -->
    <style rel="stylesheet">
        @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap');
    </style>

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="/static/blf/plugins/revolution/revolution/css/revolution.min.css">
    {% endblock stylesheets %}

</head>

<body id="bg">
    <div class="page-wraper">
        <div id="loading-area"></div>

        <!-- Main Header-->
        {% include 'web/header.html' %}

        <!-- End Main Header -->

        <!-- block for body -->
        {% block body %}{% endblock %}


        <!-- Main Footer -->
        {% include 'web/footer.html' %}
        <button class="scroltop style1 icon-up" type="button"><i class="fa fa-arrow-up"></i></button>


        {% block script %}
        <!-- javascript libraries / javascript files set #1 -->
    </div>
    <script src="{% static 'blf/js/combining.js' %}"></script>
    <script src="{% static 'blf/js/custom.js' %}"></script>
    <script src="{% static 'blf/js/jquery.lazy.min.js' %}"></script>
    <!-- REVOLUTION JS FILES -->
    <script src="{% static 'blf/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'blf/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'blf/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js?version=5.4.8' %}"></script>
    <script type="text/javascript"
        src="{% static 'blf/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js?version=5.4.8' %}"></script>
    <script type="text/javascript"
        src="{% static 'blf/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'blf/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'blf/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>

    <script src="{% static 'blf/js/rev.slider.js' %}"></script>
    <script>
        jQuery(document).ready(function () {
            'use strict';
            dz_rev_slider_12();
            $('.lazy').Lazy();
        });	/*ready*/
    </script>
    {% include 'web/messages.html' %}

    {% endblock script %}

    {% block extrascripts %}{% endblock extrascripts %}
</body>

</html>