{% load static %}
<!-- Footer -->
<footer class="site-footer text-uppercase bg-white" style="display: block; height: 519.261px;">
    <!-- Social icon -->
    <div class="social-curve wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s"
        style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInLeft;">
        <div class="container">
            <ul class="social-icon list-inline m-b0">
                <li><span class="title">Follow Us</span></li>
                <li><a href="javascript:void(0);" class="site-button-link facebook hover"><i
                            class="fa fa-facebook"></i></a></li>
                <li><a href="javascript:void(0);" class="site-button-link google-plus hover"><i
                            class="fa fa-google-plus"></i></a></li>
                <li><a href="javascript:void(0);" class="site-button-link linkedin hover"><i
                            class="fa fa-linkedin"></i></a></li>
                <li><a href="javascript:void(0);" class="site-button-link instagram hover"><i
                            class="fa fa-instagram"></i></a></li>
                <li><a href="javascript:void(0);" class="site-button-link twitter hover"><i
                            class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- Social icon End -->
    <div class="footer-top"
        style="background-image:url(/static/blf/images/background/bg2.png); background-size: contain;">
        <div class="container saf-footer">
            <div class="row">

                <div class="col-md-6 col-lg-6 col-sm-6 footer-col-4">
                    <div class="widget widget_getintuch">
                        <h5 class="m-b30 text-white ">Contact us</h5>
                        <ul>
                            <li><i class="ti-location-pin"></i><strong>address</strong> demo address #8901 Marmora Road
                                Chi Minh City, Vietnam </li>
                            <li><i class="ti-mobile"></i><strong>phone</strong>0800-123456 (24/7 Support Line)</li>
                            <li><i class="ti-email"></i><strong>email</strong>info@example.com</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 col-5 footer-col-4">
                    <div class="widget widget_services border-0">
                        <h5 class="m-b30 text-white">Company</h5>
                        <ul>
                            <li><a href="{% url 'services-page' %}">Services</a></li>
                            <li><a href="{% url 'core-page' %}">Mission </a></li>
                            <li><a href="{% url 'about-page' %}">About Us</a></li>
                            <li><a href="{% url 'contact-page' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2021
                        badralsabahfacilitymanagementservices.com</span> </div>
                <div class="col-md-6 col-sm-6 text-right ">
                    <div class="widget-link ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Footer END -->