{% load static %}
{% load active_link_tags %}
<!-- header -->
<header class="site-header mo-left header-transparent header navstyle3">
    <!-- main header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix ">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion logo-white">
                    <a href="index.html"><img src="{% static 'bmf/images/Logo.png' %}" alt=""
                            style="width: 40% !important"></a>
                </div>
                <!-- nav toggle button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                    data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                    <div class="logo-header d-md-block d-lg-none">
                        <a href="{% url 'home-page' %}"><img src="{% static 'bmf/images/Logo.png' %}" alt=""
                                style="width: 40% !important"></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="{% active_link 'home-page' strict=True %}">
                            <a href="{% url 'home-page' %}">Home</a>
                        </li>
                        <li class="{% active_link 'services-page' %}">
                            <a href="{% url 'services-page' %}">Service</a>
                        </li>
                        <li><a href="https://buraqalmadeenasecurity.com/" target="_blank">Security Services</a></li>
                        <li class="{% active_link 'core-page' %}">
                            <a href="{% url 'core-page' %}">Mission</a>
                        </li>
                        <li class="{% active_link 'about-page' %}">
                            <a href="{% url 'about-page' %}">About Us</a>
                        </li>
                        <li class="{% active_link 'contact-page' %}">
                            <a href="{% url 'contact-page' %}">Contact Us</a>
                        </li>
                    </ul>
                    <div class="dlab-social-icon">
                        <ul>
                            <li><a class="site-button facebook sharp-sm fa fa-facebook" href="javascript:void(0);"></a>
                            </li>
                            <li><a class="site-button twitter sharp-sm fa fa-twitter" href="javascript:void(0);"></a>
                            </li>
                            <li><a class="site-button linkedin sharp-sm fa fa-linkedin" href="javascript:void(0);"></a>
                            </li>
                            <li><a class="site-button instagram sharp-sm fa fa-instagram"
                                    href="javascript:void(0);"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->
</header>
<!-- header END -->